
@{
    ViewData["Title"] = "OidcPage";
}

<h1>Call API One with Ajax </h1>
<button type="button" class="btn btn-primary" onclick="signIn()">Sign In</button>
<button type="button" class="btn btn-primary" onclick="signOut()">Sign Out</button>
<button type="button" class="btn btn-primary" onclick="callApi()">Call Api</button>



<script src="~/lib/oidc-client/oidc-client.min.js"></script>
<script src="~/lib/axios/axios.min.js"></script>

